.dw-navbar-logo {
  img {
    height:30px;
  }
}

.dw-top-navbar-toggle {
  background-color: $dw-theme-dark;
  color: #FFFFff;
  float: right;

  span {
    color: #FFFFff;
  }
}

.dw-top-navbar {
    background-color: #FFFFff;
    padding: $dw-padding;
}

.dw-top-navbar-menu {
  li {
    float: none;

    a {
      padding: 10px $dw-padding;
      color: $dw-light-text;
      display: block;
    }
  }

  li + li {
    border-top: 1px solid $dw-light-text;
  }
}
@media only screen and (min-width : 768px) {
  .dw-top-navbar-menu {
    float: right;
  }

  .dw-top-navbar {
    .dw-top-navbar-menu {
      display: block;

      ul {
        display: block;

        li {
          float: left;
        }

        li + li {
          border: none;

          a {
            position: relative;
            border:none;

            &:before {
              content:'';
              background-color: $dw-light-text;
              position: absolute;
              left: 0;
              height:20px;
              width: 1px;
            }
          }
        }
      }
    }

    .dw-top-navbar-toggle {
      display: none;
    }
  }
}