<nav class="dw-top-navbar dw-shadow">
        <a class="navbar-brand dw-navbar-logo" href="#">
            <img src="../../build/images/sample-logo.png">
        </a>
        <button class="navbar-toggler dw-top-navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">
                menu
            </i>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse dw-top-navbar-menu">
            <ul class="navbar-nav dw-top-navbar-links">
                <li>
                    <form action="/action_page.php">
                        <button type="submit" class="dw-btn-flat">
                            <i class="material-icons">
                                search
                            </i>
                        </button>
                        <input type="text" placeholder="Search.." name="search" class="dw-search-input">
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="" href="{{ url('/login') }}">
                        <div class="dw-badge-icon">
                            <i class="material-icons">
                                notifications
                            </i>
                            <div class="dw-badge"></div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <ul class="dw-float-list">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-welcome dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>