.dw-inner-card {

    // Card header
    .dw-card-header {
        padding: $dw-gap $dw-gap 0 $dw-gap!important;
        box-shadow: none;
        border-bottom: 1px solid #eeeeee;

        .dw-btn {
            margin-bottom: $dw-gap!important;
        }
    }

    // Card body
    .dw-card-body {
        padding: $dw-padding;

        p {
            margin: 0;
        }
    }

    // Card footer
    .dw-card-footer {
        padding: $dw-gap $dw-gap 0 $dw-gap!important;
        border-top: solid 1px #eee;
        text-align: right;
        .dw-btn {
            margin-bottom: $dw-gap!important;
        }
    }
}