<div class="dw-table" ng-controller="CardController">
    <div class="dw-table-filter">

        <div class="dw-table-filter-left">
            <label>Filter By</label>
            <div class="dw-dropdown">
                <div class="dw-dropdown-btn">Dropdown <i class="material-icons">
                    keyboard_arrow_down
                </i></div>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>

        <div class="dw-table-filter-right">
            <ul class="dw-float-list">
                <li>
                    1-10 of 16
                </li>
                <li>
                    <div class="pagination">
                        <a href="#" class="dw-icon dw-icon-seconday">
                            <i class="material-icons">
                                chevron_left
                            </i>
                        </a>
                        <a href="#" class="dw-icon dw-icon-seconday">
                            <i class="material-icons">
                                chevron_right
                            </i>
                        </a>
                    </div>
                </li>

                <li>
                    <button type="button" class="dw-btn-refresh dw-icon dw-icon-primary">
                        <i class="material-icons">
                            sync
                        </i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <table class="dw-table ng-scope">
        <thead>
            <tr>
                <th>
                    #ID
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>

                </th>

                <th>
                    assignee
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>

                <th>
                    subject
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>

                <th>
                    type
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>

                <th class="dw-text-center">
                    priority
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>

                <th class="dw-text-center">
                    status
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>

                <th class="dw-text-center">
                    updated
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>
                <th class="dw-text-center">
                    channel
                    <i class="material-icons dw-right dw-btn dw-btn-flat">
                        unfold_more
                    </i>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    6682
                </td>

                <td>
                    <ul class="dw-list dw-list-cell">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    test ticket 2
                </td>

                <td>
                    incident
                </td>

                <td class="dw-text-center">
                    low
                </td>
                <td class="dw-text-center">
                    new
                </td>
                <td class="dw-text-center">
                    <time-ago from-time="2018-03-27T13:24:10.056Z" class="ng-isolate-scope">28 days ago</time-ago>
                </td>
                <td class="dw-text-center dw-channel-mail">
                    <i class="material-icons">
                        mail
                    </i>
                </td>
            </tr>

            <tr>
                <td>
                    6682
                </td>

                <td>
                    <ul class="dw-list dw-list-cell">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    test ticket 2
                </td>

                <td>
                    incident
                </td>

                <td class="dw-text-center">
                    <button class="dw-btn dw-btn-sm dw-default">
                        <span>Default</span>
                    </button>
                </td>
                <td class="dw-text-center">
                    <input type="text" class="dw-input dw-input-table">
                </td>
                <td class="dw-text-center">
                    <time-ago from-time="2018-03-27T13:24:10.056Z" class="ng-isolate-scope">28 days ago</time-ago>
                </td>
                <td class="dw-text-center dw-channel-notification">
                    <i class="material-icons">
                        notifications
                    </i>
                </td>
            </tr>

            <tr>
                <td>
                    6682
                </td>

                <td>
                    <ul class="dw-list dw-list-cell">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    test ticket 2
                </td>

                <td>
                    incident
                </td>

                <td class="dw-text-center">
                    low
                </td>
                <td class="dw-text-center">
                    new
                </td>
                <td class="dw-text-center">
                    <time-ago from-time="2018-03-27T13:24:10.056Z" class="ng-isolate-scope">28 days ago</time-ago>
                </td>
                <td class="dw-text-center dw-channel-mail">
                    <i class="material-icons">
                        mail
                    </i>
                </td>
            </tr>

            <tr>
                <td>
                    6682
                </td>

                <td>
                    <ul class="dw-list dw-list-cell">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    test ticket 2
                </td>

                <td>
                    incident
                </td>

                <td class="dw-text-center">
                    low
                </td>
                <td class="dw-text-center">
                    new
                </td>
                <td class="dw-text-center">
                    <time-ago from-time="2018-03-27T13:24:10.056Z" class="ng-isolate-scope">28 days ago</time-ago>
                </td>
                <td class="dw-text-center dw-channel-mail">
                    <i class="material-icons">
                        mail
                    </i>
                </td>
            </tr>

            <tr>
                <td>
                    6682
                </td>

                <td>
                    <ul class="dw-list dw-list-cell">
                        <li>
                            <div class="dw-image-xs  dw-image dw-image-circle">
                                <img src="../../build/images/profile_user.jpg">
                            </div>
                        </li>

                        <li>
                            <a href="" class="dw-profile-text">
                                Hi, Duo Owner
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    test ticket 2
                </td>

                <td>
                    incident
                </td>

                <td class="dw-text-center">
                    low
                </td>
                <td class="dw-text-center">
                    new
                </td>
                <td class="dw-text-center">
                    <time-ago from-time="2018-03-27T13:24:10.056Z" class="ng-isolate-scope">28 days ago</time-ago>
                </td>
                <td class="dw-text-center dw-channel-mail">
                    <i class="material-icons">
                        mail
                    </i>
                </td>
            </tr>

        </tbody>
    </table>
</div>