.dw-table-filter {
  margin: $dw-gap 0;

  label {
    margin-right: $dw-margin-sm;
  }

  .dw-float-list {

    li {
      padding: 0;
      display: table-cell;
      vertical-align: middle;
      float: none;
    }

    li + li {
      padding-left: 8px;
    }
  }
}

.dw-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: green;

  thead {
    th {
      vertical-align: middle;
      text-transform: uppercase;

      .dw-dropdown {
        float: right;

        i {
          margin-right: 0px;
          margin-left: 0px;

          font-size: 16px;
        }
      }
    }
  }

  th,td {
    padding: 0.75rem;
    vertical-align: middle;
    text-transform: capitalize;
  }

  tr {
    &:nth-of-type(odd) {

      td {
        background-color: $dw-background;

        &:first-child {
          border-radius: $dw-border-radius-sm 0 0 $dw-border-radius-sm;
        }

        &:last-child {
          border-radius: 0 $dw-border-radius-sm $dw-border-radius-sm 0;
        }
      }
    }
  }

  .dw-list {
    margin-bottom: 0;
  }

  .dw-btn {
    margin-bottom: 0;
  }
}


.dw-profile-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  color: $dw-main-text;
}


.dw-table-filter-left {
    float: left;
}

.dw-table-filter-right {
  float: right;
}


.dw-input {
  padding: 8px 15px;
  height: 46px;
  border-radius: $dw-border-radius-xs;
  border:1px solid $dw-light-text;

  &:focus {
    outline: none;
    border-color: $dw-theme-secondary;
  }
}

.dw-input-table {
  height: 36px;
}
