<div class="row">
    <h3>Float List</h3>
    <ul class="dw-list dw-float-list">
        <li>
            <div class="dw-image-xs  dw-image dw-image-circle">
                <img src="../../build/images/profile_user.jpg">
            </div>
        </li>
        <li>
            <a href="" class="dw-profile-welcome dw-profile-text">
                Hi, Duo Owner
            </a>
        </li>
    </ul>
</div>
<br/>
<div class="row">
    <h3>Aligned Center Vertically List</h3>
    <ul class="dw-list dw-list-cell">
        <li>
            <div class="dw-image-xs  dw-image dw-image-circle">
                <img src="../../build/images/profile_user.jpg">
            </div>
        </li>
        <li>
            <a href="" class="dw-profile-welcome dw-profile-text">
                Hi, Duo Owner
            </a>
        </li>
    </ul>
</div>
<br/>

<div class="row">
    <h3>Text List</h3>

    <ul class="dw-list dw-text-list">
        <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</li>
        <li>Etiam porta sem malesuada magna mollis euismod.
            <ul>
                <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                <li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                    <ul>
                        <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
    </ul>
</div>
<br/>

<div class="row">
    <h3>Multilevel List Navigation</h3>
    <ul class="dw-multilevel-list dw-list">
        <li>
            <a data-toggle="collapse" href="#collapse1">
                <i class="material-icons">
                    favorite
                </i>
                Collapsible list group

                <i class="material-icons pull-right chevron">
                    arrow_drop_down
                </i>
            </a>
            <ul class="dw-multilevel-second">
                <li class="dw-active">
                    <a data-toggle="collapse" href="#collapse2" class="dw-multilevel-first">
                        Collapsible list group

                        <i class="material-icons pull-right chevron">
                            arrow_drop_down
                        </i>
                    </a>

                    <ul class="dw-multilevel-third">
                        <li><a href="">Third Level Link</a></li>
                        <li><a href="">Third Level Link</a></li>
                        <li><a href="">Third Level Link</a></li>
                    </ul>
                </li>
                <li><a href="" class="dw-multilevel-first">One Link</a></li>
                <li><a href="" class="dw-multilevel-first">One Link</a></li>
            </ul>

        </li>
    </ul>
</div>
<br/>







