<ul class="dw-text-list">
    <li>
        <div class="dw-header dw-card">
            <h1>Page Main Section / <span>Section h1</span></h1>
        </div>

        <p class="dw-typo-description"><strong>Description : </strong>Each section, main title UI layout. This can be used to display the title of a section with it's subsection.</p>
    </li>

    <li>
        <div class="dw-card dw-inner-card">
            <div class="dw-toolbar dw-card-header">
                <h2>Card header
                    <small>Card Subtitle / Title information description</small>
                </h2>
            </div>
        </div>

        <p class="dw-typo-description"><strong>Description : </strong>Card header with subtitle or a sub-description of the card header. Not always mandatory to have a subtitle/sub-description</p>
    </li>

    <li>
        <h1>h1. Heading Text <small>Secondary text</small></h1>
        <h2>h2. Heading Text <small>Secondary text</small></h2>
        <h3>h3. Heading Text <small>Secondary text</small></h3>

        <p class="dw-typo-description"><strong>Description : </strong>Default titles and subtitles /  sub-description</p>
    </li>

    <li>
        <h2>Example body text</h2>
        <p>Nullam quis risus eget <a href="#">this is link text</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p>Aliquam erat volutpat. Morbi sagittis sagittis tristique. Praesent nec dictum nulla. In at dui augue. Nam vehicula nibh neque, nec dignissim elit luctus eu. Mauris consectetur dui ac elementum sollicitudin. Morbi sodales ac velit quis congue. Aenean velit sapien, imperdiet sed euismod sit amet, tempus sit amet enim.</p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
        <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        <br/>
        <p class="text-lowercase">Lowercased text.</p>
        <p class="text-uppercase">Uppercased text.</p>
        <p class="text-capitalize">Capitalized text.</p>

        <p class="dw-typo-description"><strong>Description : </strong> Default typo</p>
    </li>

    <li>
        <div class="dw-information">
            <h3 class="dw-text700 ">H3 bold information text</h3>
            <p class="dw-subtitle">information subtext</p>
        </div>
        <p class="dw-typo-description"><strong>Description : </strong>h3 Blod text information with the subtitle / secondary information/ information lable </p>
    </li>

    <li>
        <div class="dw-bold-information">
            <h2 class="dw-text700 ">H2 bold information text</h2>
            <p class="dw-subtitle text-uppercase">information subtext</p>
            <p class="dw-typo-description"><strong>Description : </strong> H2 bold information text with subtitle / secondary information / information lable uppercase</p>
        </div>
    </li>

    <li>
        <label>This is a label</label>
        <p class="dw-typo-description"><strong>Description : </strong> Default label</p>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>


</ul>





