.dw-list {
  padding: 0;
  width: 100%;
  float:left;

  li {
    margin-bottom: 10px;
  }
}

.dw-list-unlisted {
  list-style: none;
}

.dw-float-list {
  li {
    float: left;
    list-style: none;
    padding:0 6px;
  }
}

.dw-list-cell {
  li {
    display: table-cell;
    vertical-align: middle;
    padding:0 6px;
  }
}

.dw-text-list {
  padding: 0 0 0 $dw-padding;
}

.dw-multilevel-list {
  a {
    color: $dw-theme-dark;
  }
  li {
    position: relative;

    i {
      font-size: 18px;
      float: left;
      margin: $dw-margin-xs $dw-margin-sm 0 0;
    }

    .chevron {
      position: absolute;
      top: -2px;
      font-size: 28px;
      margin: 0;
    }

    ul {
      li {
        a {
          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0;
            background-color: #EE437E;
            top: 0;
          }
        }
      }
    }
  }
  ul {
    li {
      a {
        display: block;
        padding: 6px 25px;
        color: #BDC2C6;
        position: relative;
      }
    }
  }
}

.dw-multilevel-list--item {
  &:after {
    content: "arrow_drop_down";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    margin-top: -1px;
    position: absolute;
  }
}

.dw-list-icon{
  i {

    font-size: 18px;
    float: left;
    margin: 1px 10px 0 0;
  }
}

.dw-list-justify{
  text-align: justify;

  lable {
    width: 33.333333%;
    float: left;
  }
  
  p {
    float: left;
    width: 66.666667%;
  }
}