<form class="form-horizontal ng-pristine ng-valid">
        <div class="dw-form-group">
            <label for="input" class="dw-label">Default Input</label>
            <input type="text" class="dw-form" id="input" placeholder="Standard Input">
            <p class="dw-form--message"></p>
        </div>

        <div class="dw-form-group">
            <label for="input" class="dw-label">Error Input</label>
            <input type="text" class="dw-form dw-form--error" id="input" placeholder="Standard Input">
            <p class="dw-form--message dw-error-mg">Invalid Input</p>
        </div>

        <div class="dw-form-group">
            <label for="input" class="dw-label">Success Input</label>
            <input type="text" class="dw-form dw-form--success" id="input" placeholder="Standard Input">
            <p class="dw-form--message dw-sucess-mg">Success Input</p>
        </div>

        <div class="dw-form-group">
            <label for="textArea" class="dw-label">Textarea</label>
            <textarea class="dw-form" rows="3" id="textArea"></textarea>
            <p class="dw-form--message"></p>
        </div>

        <div class="form-group">
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" checked> <span class="label-text">Option 01</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check"> <span class="label-text">Option 02</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check"> <span class="label-text">Option 03</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" disabled> <span class="label-text">Option 04</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <label>
                    <input type="radio" name="radio" checked> <span class="label-text">Option 01</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio"> <span class="label-text">Option 02</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio"> <span class="label-text">Option 03</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio" disabled> <span class="label-text">Option 04</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="dw-switch">
                <input type="checkbox">
                <span class="dw-slider round"></span>
            </label>

            <label class="dw-switch">
                <input type="checkbox" checked>
                <span class="dw-slider round"></span>
            </label>
        </div>

        <div class="form-group">
            <label for="select" class="col-sm-2 control-label">Selects</label>
            <select class="dw-form" id="select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p class="dw-form--message dw-sucess-mg">Success Input</p>

            <br>
            <select multiple="" class="dw-form">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p class="dw-form--message dw-sucess-mg">Success Input</p>
        </div>

        <!-- remove inline styles once included into the framework and the dropdown is functioning-->
        <div class="form-group" style="position:relative">
            <a class="dw-dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dw-dropdown-menu dw-card" aria-labelledby="navbarDropdownMenuLink" style="display: block">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
            </div>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    </fieldset>
</form>