<div class="dw-card" ng-controller="CardController">
    <div class="dw-toolbar dw-card-header">
        <h2>Card header</h2>
        <div class="dw-tools">
            <button class="dw-btn dw-tool dw-success">
                <span>
                    <i class="material-icons">{{ firstIcon }}</i>
                </span>
            </button>
            <button class="dw-btn dw-tool dw-error">
                <span>
                    <i class="material-icons">edit</i>
                </span>
            </button>
            <button class="dw-btn dw-tool">
                <span>
                    <i class="material-icons">menu</i>
                </span>
            </button>
        </div>
    </div>
    <div class="dw-card-body">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="dw-card dw-inner-card">
                <div class="dw-toolbar dw-card-header">
                    <h2>Card header</h2>
                    <div class="dw-tools">
                        <button class="dw-btn dw-tool dw-success">
                        <span>
                            <i class="material-icons">face</i>
                        </span>
                        </button>
                        <button class="dw-btn dw-tool dw-error">
                        <span>
                            <i class="material-icons">edit</i>
                        </span>
                        </button>
                        <button class="dw-btn dw-tool">
                        <span>
                            <i class="material-icons">menu</i>
                        </span>
                        </button>
                    </div>
                </div>
                <div class="dw-card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dw-call-info" ng-controller="CardController">
                                <h2 class="dw-text700 dw-font24 dw-call-info-time">00:00:00</h2>
                                <div class="dw-info-label">on call time</div>
                                <div class="dw-status dw-inbound">inbond</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="dw-call-info" ng-controller="CardController">
                                <h2 class="dw-text700 dw-font24 dw-call-info-time">00:00:00</h2>
                                <div class="dw-info-label">on call time</div>
                                <div class="dw-status dw-outbound">inbond</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dw-card-footer">
        <button class="dw-btn dw-default">
            <span>Default</span>
        </button>
        <button class="dw-btn dw-success">
            <span>Success</span>
        </button>
        <button class="dw-btn dw-error">
            <span>Danger</span>
        </button>
        <button class="dw-btn dw-default dw-iconed">
            <span>
                <i class="material-icons">face</i>
            </span>
            <span>Iconed</span>
        </button>
    </div>
</div>