.dw-card {
    background-color: #fff;
    -webkit-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
    -moz-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
    box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
    border-radius: $dw-border-radius-sm;
    overflow: hidden;
    margin: 0 0 $dw-gap;

    // Card body
    .dw-card-body {
        padding: $dw-padding;

        p {
            margin: 0;
        }
    }

    // Card footer
    .dw-card-footer {
        padding: $dw-gap $dw-gap 0 $dw-gap!important;
        border-top: solid 1px #eee;
        text-align: right;
        .dw-btn {
            margin-bottom: $dw-gap-sm !important;
        }
    }
}
