// Colors
$dw-accent          : #888;
$dw-success         : #00b100;
$dw-success-faded   : #caffca;

$dw-error           : #e43500;
$dw-error-faded     : #FFDEEB;

$dw-main-text       : #4D4D4E;
$dw-secondary-text  : #B3B6B3;
$dw-light-text      : #BDC2C6;
$dw_default-text    : #2C3E50;

$dw-background      : #F2F4F8;
$dw-background-light: #F2F4F8;
$dw-brand-primary   : #EE437E;
$dw-brand-secondary : #68318E;

$dw-brand-dark      : #131D2F;
$dw-brand-light     : #2C3E50;

$dw-inbound         : #65C0E0;
$dw-outbound        : #F2A183;
$dw-reserved        : #DC2276;
$dw-suspended       : #131D2F;
$dw-other           : #82C566;
$dw-available       : #B62025;
$dw-busy            : #9272B2;
$dw-afterwork       : #F68D40;
$dw-break           : #F7CA0F;
$dw_idle            : #243B54;




