body {
  font-size: 14px;
  color: $dw-default-text;
}

.dw-shadow {
  -webkit-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
  -moz-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
  box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
}

.dw-badge {
  background-color: #68318E;
  border-radius: $dw-border-radius-lg;
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFff;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
}

.dw-right {
  float: right;
  margin-bottom: 0;
}

.dw-left {
  float: left;
}

.dw-badge-icon {
  position: relative;
}
@media only screen and (max-width : 767px) {
  .dw-badge {
    right: 0px;
  }
}

.dw-search-input {
  padding: 10px;
  border: none;
  display: table-cell;
  vertical-align: middle;
  color: $dw-light-text;

  &:focus {
    outline: none;
  }
}


.row {
  margin: 0;
}

.dw-text-center {
  text-align: center;
}

.dw-channel-mail {
  color: $dw-theme-primary;
}

.dw-channel-notification {
  color: $dw-theme-secondary;
}


/********** Component View Styling *******************/

.dw-component-header {
  margin-bottom: $dw-gap-lg;
  padding: $dw-padding;
  background-color: $dw-background;
  border-radius: $dw-border-radius-xs;

  h1 {
    font-weight: $dw-font300;
    font-size: 40px;
  }
}

a {
  color: $dw-secondary-text;
}