body {
  font-size: 14px;
  color: $dw-default-text;
}

.dw-shadow {
  -webkit-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
  -moz-box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
  box-shadow: 0 0px 4px 0 rgba(130, 152, 174,0.5), 0 0px 0px 0 rgba(130, 152, 174,0.5);
}

.dw-badge {
  background-color: #68318E;
  border-radius: $dw-border-radius-lg;
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFff;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
}

.dw-badge-icon {
  position: relative;
}
@media only screen and (max-width : 767px) {
  .dw-badge {
    right: 0px;
  }
}

.dw-search-btn {
  background: transparent;
  border: 0;
  padding: 0;

  display: table-cell;
  vertical-align: middle;

  color: $dw-light-text;
}

.dw-search-input {
  padding: 10px;
  border: none;
  display: table-cell;
  vertical-align: middle;
  color: $dw-light-text;

  &:focus {
    outline: none;
  }
}


.row {
  margin: 0;
}

.dw-text-center {
  text-align: center;
}

.dw-channel-mail {
  color: $dw-theme-primary;
}

.dw-channel-notification {
  color: $dw-theme-secondary;
}

.dw-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: $dw-border-radius-md;
  padding: 0;
  border: none;
  cursor: pointer;

  i {
    font-size: 21px;
    line-height: 1.6;
  }

  &:hover {
    color: #FFFFff;
    text-decoration: none;
  }
}

.dw-circle-primary {
  background-color: $dw-theme-primary-light;
  color: $dw-theme-primary;

  &:hover {
    background-color: $dw-theme-primary;
  }
}

.dw-circle-seconday {
  background-color: $dw-theme-secondary-light;
  color: $dw-theme-secondary;

  &:hover {
    background-color: $dw-theme-secondary;
  }
}

.dw-circle + .dw-circle {
  margin-left: $dw-margin-xs;
}


/********** Component View Styling *******************/

.dw-component-header {
  margin-bottom: $dw-gap-lg;
  padding: $dw-padding;
  background-color: $dw-background;
  border-radius: $dw-border-radius-xs;

  h1 {
    font-weight: $dw-font300;
    font-size: 40px;
  }
}
