$open-sans: 'Open Sans', sans-serif;

$font-size--lg : 24px;
$font-size--md : 18px;
$font-size--sm : 14px;
$font-size--xs : 12px;

// Styles
body {
  font-family: $open-sans;
}
.dw-text700 {
  font-weight: 700;
}

.dw-font24 {
  font-size: $font-size--lg;
}

.dw-status {

}

.dw-info-label {
  font-size: $font-size--sm;
  letter-spacing: 1.62px;
}

.dw-status {
  font-size: $font-size--xs;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}