$open-sans: 'Open Sans', sans-serif;

$font-size--lg : 28px;
$font-size--md : 21px;
$font-size--sm : 18px;
$font-size--xs : 14px;

$dw-text700 : 700;
$dw-font300 : 300;

// Styles
body {
  font-family: $open-sans;
}

.dw-info-label {
  font-size: $font-size--sm;
  letter-spacing: 1.62px;
}

.dw-status {
  font-size: $font-size--xs;
}

h1 {
  font-size: $font-size--lg;
}

h2 {
  font-size: $font-size--md;
}

h3 {
  font-size: $font-size--sm;
}

p {
  font-size: $font-size--xs;
}

.dw-text-uppercase {
  text-transform: uppercase;
}