// Spacing
$dw-padding     :   15px;
$dw-gap         :   15px;
$dw-gap-sm      :   10px;
$dw-gap-lg      :   30px;
$line-height40  :   40px;

$dw-margin-xs   :   5px;
$dw-margin-sm   :   10px;
$dw-margin-md   :   20px;
$dw-margin-lg   :   30px;


.margin0 {
  margin:0;
}