<div class="dw-navbar-logged-user dw-top-navbar-user-logged">
    <div class="dw-profile-xs  dw-profile dw-profile-circle">
        <img src="../../build/images/profile_user.jpg">
    </div>

    <a href="" class="dw-profile-welcome dw-profile-text">
        Hi, Duo Owner
    </a>
</div>

<ul class="dw-float-list">
    <li>
        <div class="dw-profile-xs  dw-profile dw-profile-circle">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-sm  dw-profile dw-profile-circle">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-md  dw-profile dw-profile-circle">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-lg  dw-profile dw-profile-circle">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-xs  dw-profile dw-profile-square">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-sm  dw-profile dw-profile-square">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-md  dw-profile dw-profile-square">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
    <li>
        <div class="dw-profile-lg  dw-profile dw-profile-square">
            <img src="../../build/images/profile_user.jpg">
        </div>
    </li>
</ul>







