.header {
    padding: $dw-padding;

    h1 {
        &:before {
            content:'';
            position:absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
        }
    }
}