<ul class="dw-text-list">
    <li><h1>Title head H1</h1></li>
    <li><h2>Title head H2</h2></li>
    <li><h3>Title head H3</h3></li>
    <li>
        <div class="dw-header dw-card">
            <h1>Real Time / <span>Agent Summary</span></h1>
        </div>
    </li>
    <li>
        <div class="dw-information">
            <h3 class="dw-text700 ">kasun.g@duosoftware.com</h3>
            <p class="dw-subtitle">45hr 10min ago</p>
        </div>
    </li>
    <li>
        <label>This is a label</label>
    </li>
    <li>
        <div class="dw-card dw-inner-card">
            <div class="dw-toolbar dw-card-header">
                <h2 class="dw-text-uppercase">Card header</h2>
            </div>
        </div>
    </li>
    <li>
        <div class="dw-bold-information">
            <h2 class="dw-text700 ">340</h2>
            <p class="dw-subtitle dw-text-uppercase">voice mail</p>
        </div>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>


</ul>





