.dw-navigation {
  background-color: $dw-theme-dark;
  height: 100%;
  padding:0;

  ul {
    padding: 0;

    li {
      list-style: none;
      width: 250px;
      a {
        display: block;
        border-bottom: 1px solid #333;
        padding: 6px 15px;
        color: $dw-light-text !important;
        position: relative;

        i {
          font-size: 18px;
          float: left;
          margin: $dw-margin-xs $dw-margin-sm 0 0;
        }

        &>span {
           opacity: 0;
           transition: all $dw-timeframe-primary;
        }

        &:hover {
          background: $dw-theme-light;
          text-decoration: none;
          color: #ffffff;

          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0;
            background-color: $dw-theme-primary;
            top:0;
          }

          i {
            color: $dw-theme-primary;
          }
        }

        .chevron {
          position: absolute;
          right: 0;
          top: 2px;
          font-size: 28px;
        }
      }
    }

    .dw-multilevel-nav {
      a {

        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 2px;
          left: 0;
          background-color: $dw-theme-primary;
          top:0;
        }

        i {
          color: $dw-theme-primary;
        }
      }

      .dw-multilevel-second {
        li {
          a {
            padding: 6px 0 6px 50px;
            background: $dw-theme-light;
            font-size: 12px;

            &:before {
              content: '';
              background: $dw-light-text;
              height: 20px;
              width: 1px;
              position: absolute;
              left: 33px;
              top: 4px;
            }
          }
        }

        .dw-active {
          a {
            &:before {
              background-color: $dw-theme-primary;
            }
          }
        }
      }

      .collapsed {
        border: none;

        &:before {
          display: none;
        }

        i {
          color: $dw-light-text;
        }
      }
    }
  }
}

.dw-navigation-title {
  text-transform: uppercase;
  color: $dw-light-text;
  font-size: 16px;
  padding: 25px;
}

.dw-navigation-view {
  margin: 80px $dw-margin-sm $dw-margin-md ;
  background-color: #FFFFff;
  border-radius: $dw-border-radius-xs;
  padding: $dw-padding;
}

.dw-multilevel-third {
  padding-left: 15px !important;

  li {
    a {
       background: transparent !important;
       border-bottom: none !important;

       &:before {
         display: none !important;
       }
    }
  }
}

.dw-sidenav {
  height: calc(100% - 70px);
  width: 50px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: all $dw-timeframe-primary;

  &:hover {
    width: 250px;

    ul {
      li {
        a {
          &>span {
            opacity: 1;
            transition: all $dw-timeframe-primary;
          }
        }
      }
    }
  }
}

#dw-main {
  transition: margin-left .5s;
  padding: 20px;
}


.dw-main-open {
  span {
    display: none;
  }

  ul {
    li {
      a {
        min-height: 40px;
      }
    }
  }

  .dw-navigation-title {
    display: none;
  }
}