.dw-btn{
    position: relative;
    display: inline-block;
    background-color: $dw-theme-primary;
    border: none;
    padding: $dw-gap-sm $dw-gap-lg;
    border-radius: $dw-border-radius-xs;
    cursor: pointer;

    height: auto;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: $dw-margin-sm;

    -webkit-transition: border-color 0.2s, background-color 0.2s;
    transition: border-color 0.2s, background-color 0.2s;

    //Global hover
    &:hover {
        color: $dw-theme-primary;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border-color: transparent!important;
        background-color: #fff!important;
        -webkit-transition: border-color 0.2s, background-color 0.2s;
        transition: border-color 0.2s, background-color 0.2s;
    }

    &>i{
        &.material-icons {
            float: left;
            margin-right: 5px;
            font-size: 21px;
        }
    }


    //Button in a toolbar use as a tool
    &.dw-tool {
        padding: 5px;
        text-align: center;
        width: 35px;
        height: 35px;
        border-radius: $dw-border-radius-md;
        border-width: 1px;
        border-color: #fff!important;

        &>span {
            &>i.material-icons {
                height: 25px;
                width: 25px;
                left: 4px;
                line-height: 26px;
            }
        }
    }

    // Default button without no special state represented
    &.dw-default {
        border-color: $dw-accent;

        &:hover {
            color: $dw-theme-primary;
        }
    }

    //Button for a Success scenario
    &.dw-success {
        border-color: $dw-success;
        color: $dw-success;
        background-color: $dw-success-faded;
    }

    //Button for a Failed scenario
    &.dw-error {
        border-color: $dw-error;
        color: $dw-error;
        background-color: $dw-error-faded;
    }
}

.dw-btn-sm {
    padding: 6px 12px;
}

.dw-pagination {
     display: inline-block;

     a {
         color: black;
         float: left;
         padding: 8px 16px;
         text-decoration: none;
         transition: background-color .3s;
         border: 1px solid #ddd;

         .active {
             background-color: #4CAF50;
             color: white;
             border: 1px solid #4CAF50;
         }
     }
 }


.dw-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: $dw-border-radius-md;
    padding: 0;
    border: none;
    cursor: pointer;

    i {
        font-size: 21px;
        line-height: 1.6;
    }

    &:hover {
        color: #FFFFff;
        text-decoration: none;
    }
}

.dw-icon-primary {
    background-color: $dw-theme-primary-light;
    color: $dw-theme-primary;

    &:hover {
        background-color: $dw-theme-primary;
    }
}

.dw-icon-seconday {
    background-color: $dw-theme-secondary-light;
    color: $dw-theme-secondary;

    &:hover {
        background-color: $dw-theme-secondary;
    }
}

.dw-icon + .dw-icon {
    margin-left: $dw-margin-xs;
}


.dw-btn-flat {
    background: transparent;
    border: 0;
    padding: 0;

    display: table-cell;
    vertical-align: middle;

    color: $dw-light-text;

    &:hover {
        box-shadow: none;
    }
}