<div class="row">
    <h3>Circle Icon Buttons</h3>
    <ul class="dw-list dw-float-list">

        <li>
            <div class="pagination">
                <a href="#" class="dw-circle dw-circle-seconday">
                    <i class="material-icons">
                        chevron_left
                    </i>
                </a>
                <a href="#" class="dw-circle dw-circle-seconday">
                    <i class="material-icons">
                        chevron_right
                    </i>
                </a>
            </div>
        </li>

        <li>
            <button type="button" class="dw-btn-refresh dw-circle dw-circle-primary">
                <i class="material-icons">
                    sync
                </i>
            </button>
        </li>
    </ul>
</div>

<div class="row">
    <h3>Large Buttons</h3>
    <ul class="dw-list dw-float-list">
        <li>
            <button class="dw-btn dw-default">
                <span>Default</span>
            </button>
        </li>

        <li>
            <button class="dw-btn dw-success">
                <span>Success</span>
            </button>
        </li>

        <li>
            <button class="dw-btn dw-error">
                <span>Danger</span>
            </button>
        </li>

        <li>
            <button class="dw-btn dw-default dw-iconed">
                <i class="material-icons">face</i>

                        Iconed
            </button>
        </li>
    </ul>
</div>

<div class="row">
    <h3>Small Buttons</h3>
    <ul class="dw-list dw-float-list">
        <li>
            <button class="dw-btn dw-btn-sm dw-default">
                <span>Default</span>
            </button>
        </li>
    </ul>
</div>

<div class="row">
    <h3>Flat Buttons</h3>
    <ul class="dw-list dw-float-list">
        <li>
            <button type="submit" class="dw-btn-flat">
                <i class="material-icons">
                    search
                </i>
            </button>
        </li>
    </ul>
</div>




